*{
    margin : 0px;
    padding : 0px;
    border : 0px;
}


#canvasWrapper {
    position : relative;
    display : block;

    margin : 0px auto;
    width : 800px;
    height : 600px;
    background-image: url("../Assets/Images/Level1Background.png");
}
#GameCanvas{
    position: absolute;
}

#initialStuff{
    color: #FFF;
    position: relative;
    display: block;
    width : 500px;
    height : 400px;
    margin : 0px auto;
    text-align: center;
    padding : 200px 0px 0px  0px;
}

#initialStuff h2 {
    margin: 0px 0px 15px 0px;
}

#initialStuff input{
    padding : 8px 12px;
}

#initialStuff input.button{

    background-color: #F06060;
    display: inline-block;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    /*border-top: 1px solid #F06060;*/
    padding: 9px 15px;
    line-height : 16px;
}

#initialStuff input.button:hover, #initialStuff input.button:focus {
    cursor : pointer;
    background-color : #000;
    /*border-top: 1px solid #F06060;*/
}