*{
    margin : 0px;
    padding : 0px;
    border : 0px;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), local('Roboto-Regular'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff) format('woff');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'), url(http://themes.googleusercontent.com/static/fonts/roboto/v10/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

.inGame h1,.inGame h2,.inGame h3,.inGame p,.inGame th,.inGame td{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

body{
    background-color : #cccccc;
}
#headerBar{
    width: 100%;
    height: 40px;
    background-color : #000640;
}
nav{
    margin: 0 auto;
    width: 800px;
}

nav a {
    float: left;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;

    padding: 10px 10px;
}
nav a:hover{
    color : #09A4B8;

}
nav ul{
    list-style-type: none;
    /*margin: 0 25px;*/
}
nav li{
    float: left;

}
#main{
    border-top: Solid 1px rgba(9,164,184,.4);
    background-color : #cccccc;
}


#canvasWrapper {
    position : relative;
    display : block;
    margin : 0px auto;
    width : 800px;
    height : 600px;
    background-image: url("../Assets/Images/bg1.png");
    border-left: Solid 2px rgba(9,164,184,.4);
    border-right: Solid 2px rgba(9,164,184,.4);
    border-bottom: Solid 1px rgba(9,164,184,.4);
}

#overlay{
    position: absolute;
    top : 300px;
    left : 400px;
    pointer-events:none;
    color : #FFF;
    z-index: 2;
    margin : 0px auto;
}

#notify{
    position: absolute;
    top : 50px;
    left : 400px;
    pointer-events:none;
    color : #FFF;
    z-index: 2;
    margin : 0px auto;
}
#GameCanvas {
    width: 800px;
    height: 600px;
    position: absolute;
    z-index: 1;
 }
#about{
    position: absolute;
    width: 800px;
    height: 600px;

    background-image: url("../Assets/Images/bg1.png");
    z-index: 999;
    display : none;
}

#about h1, #about h3, #about p{
    text-align : center;
    font-family: 'Roboto', sans-serif;
    color : #FFF;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#about a{

}




#highScore{
    color: #FFF;
    position: relative;
    display: block;
    width : 500px;
    height : 400px;
    margin : 0px auto;
    text-align: center;
    padding : 200px 0px 0px  0px;
}

#highScore h2 {
    margin: 0px 0px 15px 0px;
}

#overlay input{
    padding : 9px 12px;
    float : left;
}

.field-set{
    width : 227px;
    display : block;
    margin : 0px auto;
}
#overlay input.button{
    background-color: #0DFFB8;
    display: inline-block;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    text-align: center;
    padding: 9px 15px;
    line-height : 16px;
}

#overlay input.button:hover, #overlay input.button:focus {
    cursor : pointer;
    background-color : #FF8200;

}
